@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.primario { 
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    background-color: #ed2211;
    border: 2px solid #ed2211;
    border-radius: 20px;
    padding: 10px 5px;
    max-width: 250px;
    min-width: 50px;
}
.secundario {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: #ed2211;
    background-color: #fff;
    border: 2px solid #ed2211;
    border-radius: 20px;
    padding: 10px 5px;
    max-width: 250px;
    min-width: 50px;
}