.navegadores {
    display: flex;
    gap: 20px;
}

.pastel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main {
    padding: 2% 5%;
    display: flex !important;
    align-items: center;
}

@media screen and (width: 1280px){
    
}